/archive
/competition test.ipynb
/EDA_1. Введение в разведывательный анализ.ipynb
/EDA_2. Матстат в контексте EDA.ipynb
/EDA_3. Проектирование признаков.ipynb
/EDA_4. Статистические тесты.ipynb
/PROJECT-1. Анализ резюме из HeadHunter.ipynb
/Python_10. Solarpower.py
/Python_10. Введение в Pandas (практ).ipynb
/Python_10. Введение в Pandas (теор).ipynb
/Python_11. Базовые приёмы работы с данными в Pandas (практ).ipynb
/Python_11. Базовые приёмы работы с данными в Pandas (теор).ipynb
/Python_12. Продвинутые методы работы с данными в Pandas.ipynb
/Python_13. Визуализация данных.ipynb
/Python_13. Закрепление знаний. Kaggle.ipynb
/Python_14. Очистка данных.ipynb
/Python_15. Принципы ООП в Python и отладка кода.ipynb
/Python_16. Как выгружать данные из файлов разных форматов.ipynb
/Python_17. API и Веб-запросы.ipynb
/recipes.csv
/requirements.txt
/submission.csv
/test.ipynb
/Цикл FOR.ipynb